/* <--- COMMONS ---> */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

body{
    font-family: 'Open Sans', sans-serif;
}


/* <--- HEADER ---> */

header{
    height: 80px;
    line-height: 80px;
    font-size: 12px;
    }

.nav-left{
    float: left;
    
}

.nav-left img{
    width: 25%;
    vertical-align: middle;
    margin-left: 10px;
    
}

.nav-right{
    float: right;
    margin-right: 10px;
}

nav{
    display: inline-block;
}

nav li{
    display: inline-block;
    text-align: center; 
    margin: 0 10px;
    
}

nav li a{
    text-decoration: none;
    
}

.debug nav li a:visited{
    color: inherit;
}

.debug .nav-right li:last-child a{
    color: white;
    background-color: #0061ff;
    padding: 3px 10px;
}












/* <--- DEBUG ---> */

/* .debug header{
    height: 80px;
    background-color: blue;
    border: 1px solid black; 
}

.debug .nav-left{
    float: left;
    line-height: 80px;
}

.debug .nav-left img{
    vertical-align: middle;
}

.debug .nav-right{
    float: right;
}

.debug nav{
    background-color: red;
    border: 1px solid black;
    display: inline-block;
    line-height: 80px;
}

.debug nav li{
    background-color: green;
    border: 1px solid black;
    display: inline-block;
    text-align: center; 
    margin: 0 30px;
    
}

.debug nav li a{
    text-decoration: none;
    background-color: fuchsia;
    border: 1px solid black; 
}

.debug nav li a:visited{
    color: inherit;
}

.debug .nav-right li:last-child a{
    background-color: blue;
} */